<Project>
  <PropertyGroup>
    <GmaFrameworkRoot>$(MSBuildThisFileDirectory)..\gma-framework\src\</GmaFrameworkRoot>
    <GmaModulesRoot>$(MSBuildThisFileDirectory)..\</GmaModulesRoot>
    <GmaModuleAccessControlRoot>$(MSBuildThisFileDirectory)src\</GmaModuleAccessControlRoot>
  </PropertyGroup>
</Project>
